*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Serif', serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.debug{
    border: 1px solid white;
}
.clearfix:after{
    content: '';
    display:table;
    clear: both;
}
a{
    text-decoration: none;
    color: white;
}
.wrapper{
    width: 100%;
    height: 100vh;
}
.wrapper-content{
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: row;
    align-content: stretch;
}
aside{
    width: 200px;
    height: 100%;
    background-color: black;
}
#playlist-container{
    overflow-y: scroll;
    width: 190px;
    height: 32vh;
    min-height: 150px;
}
.utente{
    background-color: black;
}
.main-content{
    width: calc(100% - 200px);
    height: 100%;
    background-color: #1B1818;
    padding-top: 80px;
    overflow-y: auto;
}
.nav-top{
    width: calc(100% - 200px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 1000;
    top: 0;  
    display: flex;
    justify-content: flex-end;
    align-items:center;
}
.button-upgrade{
    width: 220px;
    height: 40px;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    padding: 11px;
    font-size: 13px;
    margin-right: 20px;
}
#upgrade{
    color: white;
}
.button-upgrade:hover{
    width: 230px;
    height: 50px;
    padding: 16.5px;
}
footer{
    width: 100%;
    height: 90px;
    background-color:#33302F;
    position: fixed;
    bottom: 0;
    left: 0;
}
.player{
    display: flex;
    flex-direction: row;
    align-content: space-around;
}
.foot-box{
    width: calc(100% / 3);
    min-width: 162px;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.foot-box img{
    width: 10%;
    min-width: 43px;
    height: auto;
    margin-left: 10px;
}
#sng-sname{
    font-size: 15px;
    color: grey;
}
#sng-sname:hover{
    color: white;
    text-decoration: solid;
}
.foot-name-song{
    width: 8vw;
    min-width: 75px;
    padding-left: 17px;
}
#likensave{
    width: 20%;
    min-width: 27px;
}
#like, #save{
    color: grey;
    font-size: 15px;
    padding-left: 10px;
}
#like:hover, #save:hover{
    color: white;
}
.foot-icons{
    color: white;
    font-size: 15px;
    padding-left: 10px;
}
.foot-box2{
    width: calc(100% / 3);
    min-width: 300px;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.player-icons{
    font-size: 25px;
    padding: 10px 10px;
    padding-bottom: 3px;
    color: grey;
}
#player-options{
    height: 50px;
    margin-top: 10px;
}
.player-icons:hover{
    color: white;
    font-size: 30px;
}
#timing-song {
    width: 25vw;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
.point-bar{
    display: none;
}
#timing-song:hover .point-bar{
    display: block;
}
#timing-song:hover #lastid{
    background-color: yellowgreen;
}
#volum:hover .point-bar{
    display: block;
}
#volum:hover .vol-bar{
    background-color: yellowgreen;
}
.time-bar{
    width: 3vw;
    height: 3px;
    background-color: rgb(204, 204, 204);
    border-radius: 10px;
    
    font-size: 0;
}
.float-left{
    float: left;
}
#real-time{
    width: 17vw;
    background-color: gray;
}
.foot-box3{
    width: calc(100% / 3);
    min-width: 100px;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    flex-wrap: wrap;
}
#volum{
    display: flex;
    align-items: center;
}
.vol-bar{
    width: 2vw;
    height: 3px;
    background-color: rgb(204, 204, 204);
    border-radius: 10px;
    font-size: 0;
    
}
.point-bar{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    
}
#real-vol{
    width: 8vw;
    background-color: gray;
    height: 3px;
    font-size: 0;
    margin-right: 10px;
}
.vol-icons{
    font-size: 15px;
    padding: 10px 10px;
    padding-bottom: 3px;
    color: gray;
}
.vol-icons:hover{
    color: white;
}
.rute-options{
    width: 50%;
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}
.green-select{
    display: flex;
    justify-content:center ;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.green-table{
    width: 30px;
    height: 3px;
    background-color: green;
}
.brn-options{
    padding: 5px 4px;
}
.opt{
    color: grey;
}
.opt:hover{
    color: white;
}
.recent-container{
    width: calc(100% - 20px) ;
    margin-left: 20px;
}
.recent-songs-container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vw; 
}
.recent-songs{
    width: 12vw;
    position: relative;
    min-width: 150px;
}
.recent-songs img{
    width: 12vw;
    height: 22vh;
    min-width: 150px
}
.recent-songs h3, .recent-songs h5{
    text-align: center;
    padding: 5px;
}
.recent-songs h5{
    color: gray;
    font-size: 13px;
}
.recent-container p{
    font-size: 15px;
    color: gray;
    padding: 10px 0 10px 0;
}
.recent-container h1{
    padding: 10px 0 10px 0;
}
.popular{
    border-radius: 50%;
}
.hover-box{
    width: 12vw;
    min-width: 150px;
    height: 22vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.hover-box2{
    width: 12vw;
    min-width: 150px;
    height: 22vh;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.hover-play{
    height: 23vh;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recent-songs:hover .hover-box{
    display: block;
}
.recent-songs:hover .hover-box2{
    display: block;
}
#aside-container{
    margin-left: 10px;
}
#homie{
    border-left: 3px solid green;
}
#lolgo-cont{
    height: 80px;
}
#lolgo{
    width: 150px;
}
#lulgo{
    width: 35px;
    display: none;
}
.home-search-lib svg{
    vertical-align: middle;
}
.home-search-lib svg{
    width: 30px;
}
.home-search-lib span{
    color: grey;
}
.utente{
    position: absolute;
    bottom: 90px;
    left:0;
}
.utente svg{
    width: 20px;
}
.lultente a{
    font-size: 20px;
    vertical-align: middle;
}
#user-icon{
    width: 30px;
    background-color: gray;
    border-radius: 50%;
}
#newplaylist{
    font-size: 50px;
}
#newspan{
    width: 100%;
    display: flex;
    align-items: center;
}

#newplaylist{
    font-size: 50px;
}
#playlist-ctn li{
    padding: 5px 0;
}
#playlist-ctn li a{
    text-decoration: none;
    color: grey;
}
#playlistp{
    padding: 10px 0;
}
#da1, #da2{
    color: grey;
}
.color-grey{
    color: grey;
}
#newspan div{
    padding: 5px
}

#utente1-flex{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
#utente1-flex span{
    padding-left: 10px;
}
#utente2-flex{
    display: flex;
    align-items: center;
    width: 200px;
    font-size: 15px;
    border-top: 1px solid grey;
    padding-left: 10px;
}
#utente2-flex span{
    padding-left: 10px;
}
.home-search-lib span:hover{
    color: white;
}
#newspan:hover #da1,#newspan:hover #da2{
    color: white;
}
#playlist-ctn li:hover a{
    color: white;
}
#utente1-flex span:hover{
    color: white;
}