*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
.debug{
    border: 1px solid black;
}
.wrapper{
    width: 100%;
    height: 100vh;
}
.wrapper-content{
    width: 100%;
    height: calc(100% - 90px);
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    align-content: stretch;
}
aside{
    width: 250px;
    height: 100%;
    background-color: aqua;
}
.main-content{
    width: calc(100% - 250px);
    height: 100%;
    background-color: aquamarine;
    padding-top: 80px;
}
.nav-top{
    width: calc(100% - 250px);
    height: 80px;
    background-color: rgba(51, 51, 255, 0.6);
    position: fixed;
    z-index: 1000;
    top: 0;  
    display: flex;
    justify-content: flex-end;
}
.button-upgrade{
    width: 200px;
    height: 60px;
    border: 1px solid white;
    border-radius: 60%;
    text-align: center;
}
footer{
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 300, 0.3);
    position: fixed;
    bottom: 0;
    left: 0;
}